<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4"
        src="https://static-00.iconduck.com/assets.00/auth0-icon-512x512-3wef3www.png"
        alt="" height="200"
        height="57">
    <h3 class="display-5 fw-bold">Login</h3>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"> Este es un login con autenticacion utilizando Auth0</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" (click)="login()" class="btn btn-primary btn-lg px-4 gap-3">Login</button>
        </div>
    </div>
</div>
